body {
  background-color: #eee;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  margin: 4em auto;
  display: flex;
  justify-content: center;
}

.chatbox,
.users {
  margin: 0 1em;
  width: 400px;
  border: 1px solid black;
  border-radius: 6px;
  background-color: #fff;
}

.chatbox {
  height: 600px;
}

.users {
  padding: 0 1em;
  height: 300px;
}

#chat {
  margin: 0 1em;
}